<p class="text-center p-4 text-2xl font-bold">A table</p>

<button
  class="bg-blue-600 p-2 rounded-sm text-white hover:bg-slate-400 absolute right-[10vw]"
  (click)="handleAddRow()"
>
  Add row
</button>

<table class="w-[90vw] mx-auto mt-[10vh] h-[40vh] overflow-auto">
  <thead class="bg-slate-300 rounded p-3">
    <tr>
      <th>SrNo</th>
      <th>Quantity Book</th>
      <th>Unit Rate</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows -->
    <ng-container *ngIf="!isEmpty; else emptyState">
      <tr
        class="*:p-2 even:bg-slate-300"
        *ngFor="let r of poGrp?.get('row')?.value; let i = index"
      >
        <td>{{ i + 1 }}</td>
        <td>
          <input
            type="number"
            placeholder="qty"
            class="p-2"
            (keyup)="handleQty(qty.value, i)"
            #qty
          />
        </td>
        <td>
          <input
            type="number"
            placeholder="unit rate"
            class="p-2"
            value="unitRate"
            (keyup)="handleRate(rate.value, i)"
            #rate
          />
        </td>
        <td>{{ r.value.total }}</td>
        <td>
          <button
            class="bg-blue-700 p-3 rounded text-white hover:bg-blue-600"
            (click)="handleDelete(i)"
          >
            Delete
          </button>
        </td>
      </tr>
    </ng-container>
    <!-- Empty State -->
    <ng-template #emptyState>
      <tr>
        <td colspan="5" class="text-center text-2xl font-bold opacity-60">
          The rows will appear here...
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div
  class="flex gap-10 justify-center p-4 text-xl font-bold mt-2 border-2 mx-8"
>
  <p>Total Quantity : {{ totalQuantity }}</p>
  <p>Total All : {{ totalMoney }}</p>
</div>
